@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0f1a;
}

@keyframes scan {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.animate-scan {
    animation: scan 2s linear infinite;
}